@charset "utf-8";


@media (max-width: 1920px){
}

body {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 1.5vw;
	text-shadow: 0px 0px 3px #000000;
	color: #ffffff;
	line-height: auto;
	padding-left: 5;
	text-transform: capitalize;
    background: #484848;
  }

.h1 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 4vw;
	text-shadow: 0px 0px 3px #000000;
	color: #ffffff;
	line-height:auto;			
}

.h2 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 3vw;
	text-shadow: 0px 0px 3px #000000;
	color: #ffffff;
	line-height:auto;			
}


#resp-table {
width: 100%;
display: table;
}

#resp-table-caption{
display: table-caption;
text-align: center;
font-size: 30px;
font-weight: bold;
}
#resp-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 25px;
}.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}
#resp-table-body{
display: table-row-group;
}
.resp-table-row{
display: table-row;
}
.table-body-cell{
display: table-cell;
}
#resp-table-footer {
display: table-footer-group;
background-color: gray;
font-weight: bold;
font-size: 25px;
color: rgba(255, 255, 255, 0.45);
}.table-footer-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}